<div class="container mt-3">

  <div class="my-3 px-2">
    <h1 ><%= @list.name %></h1>
  </div>

  <div class="d-flex justify-content-between">
    <% @bookmarks.each do |bookmark| %>
      <div class="card mx-2" style="width: 25rem;">
        <img class="card-img-top" src="<%= bookmark.movie.poster_url %>" alt="Card image cap">
        <div class="card-body">
          <div class="d-flex">
          <p class="card-text font-weight-bold"><%= bookmark.movie.title %> —  </p>
          <p class="card-text"><%= bookmark.movie.rating %>  <i class="fa-solid fa-star"></i></p>
          </div>
          <div>
          <p class="card-text" style="height: 72px"><%= bookmark.movie.overview %></p>
          </div>
          <hr>
          <div class="d-flex justify-content-between">
          <p class="card-text"><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
          <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <button class="btn btn-sm btn-danger"></i> Delete </button>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="card mx-2 my-3">
    <h5 class="card-header">Add a movie to the list</h5>
    <div class="card-body">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie, as: :radio_buttons %>
        <%= f.input :comment %>
        <%= f.submit class:"btn btn-sm btn-dark" %>
      <% end %>
    </div>
  </div>


  <div class="text-center">
    <%= link_to lists_path do %>
      <button class="btn btn-outline-dark mt-4">Back to lists</button>
    <% end %>
  </div>

  <hr>
</div>
